<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**:
* Jupyter Notebook Introduction
* Rstudio Introduction
* Github, Git and Gitlab introduction

### Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL

### Some of the commonly used libraries used by Data Scientists include:
- pandas
- numpy
- matplotlib
- plotly
- seaborn
- tensorflow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Google Colab|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

#### This is a simple arithmetic expression to multiply then add integers

In [18]:
(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by diving by 60.

In [20]:
minutes = 200 
hours = minutes/60
print(hours)

3.3333333333333335

## Author:
Nizam Uddeen